<div class="row" style="padding-top: 0%"></div>
<div class="col"></div>
<div class="col-md-4">

  <h1>Please Sign In</h1>
  <%= form_tag(sessions_path) do %>
    <p><%= text_field_tag(:userid, nil, placeholder: 'Input User ID', class: 'form-control') %></p>
    <p><%= password_field_tag(:password, nil, placeholder: 'Input Password', class: 'form-control') %></p>
    <p><%= submit_tag 'Sign In', class: 'btn btn-lg btn-success' %></p>
  <% end %>

  <p>
    <%= link_to('Back', articles_path, class: 'btn btn-md btn-info') %>
    <%= link_to('Home', welcome_index_path, class: 'btn btn-md btn-primary') %>
  </p>

</div>
<div class="row"></div>
<div class="col"></div>
