<!-- Form Partial for Comments -->
<h4>Add Comment</h4>
<!-- lam sao khi submit no biet phai vao controller va action nao ???? -->
<!--file nay thuoc folder comments => chay vao comments_controller va tu tim action phu hop de chay-->
<%= form_for([@article, @article.comments.build]) do |f| %>
  <div class="field" style="100%;"></div>
  <p>
    <%= f.label :commenter %> <br>
    <%= f.text_field :commenter, class: 'form-control' %>
  </p>
  <p>
    <%= f.label :body %> <br>
    <%= f.text_area :body, class: 'form-control' %>
  </p>
  <p>
    <%= f.submit class: 'btn btn-lg btn-success ' %>
  </p>
<% end %>
