<section>
  <div class="row">

    <div class="col-md-4 darker padding white">
      <div class="col-md-12">
        <h4>General Info</h4>
        <hr>
        <h5>Address Line 1</h5>
        <h5>Address Line 2</h5>
        <h5>Address Line 3</h5>
        <hr>
      </div>
    </div>

    <div class="col-md-4 padding white" style="background: #552233">
      <div class="col-md-12">
        <h4>Subcribe</h4>
        <hr>

        <%= form_for(:subscriber, url: subscribers_path) do |f| %>
          <%= f.text_field :f_name, placeholder: "First Name", class: "form-control mr-sm-2" %>
          <%= f.text_field :l_name, placeholder: "Last Name", class: "form-control mr-sm-2" %>
          <%= f.text_field :email, placeholder: "Your Email", class: "form-control mr-sm-2" %>
          <div class="form-control">
            <%= f.select :country,
                  options_for_select(['USA', 'Singapore', 'Japan', 'France']),
                  prompt: "Select your country" %>
            </div>
            <%= f.submit "Submit", class:"btn btn-success my-2 my-sm-0" %>
        <% end %>

<!--        <form class="form-inline mt-2 mt-md-0">
          <input class="form-control mr-sm-2"
                 type="text"
                 placeholder="Input Your Email" aria-label="Email"
                 style="margin-bottom: 10px; width: 100%">
          <button class="btn btn-success my-2 my-sm-0" type="submit">Submit</button>
        </form>
-->
      </div>
    </div>

    <div class="col-md-4 darker">
      <div class="col-md-12 padding white">
        <h4>Social</h4>
        <hr>
        <h5><%= link_to('Facebook', '', class: 'linktxt') %></h5>
        <h5><%= link_to('Twitter', '', class: 'linktxt') %></h5>
        <h5><%= link_to('Youtube', '', class: 'linktxt') %></h5>
      </div>
    </div>

  </div>
</section>
