<div class="row"></div>

<div class="col-md-10">
  <h1>List of all Subscribers</h1>
  <table class="table table-hover table-striped table-responsive-xs table-danger">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last name</th>
        <th>Email Address</th>
        <th>Country</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @subscribers.each do |subscriber| %>
        <tr>
          <td><%= subscriber.f_name %></td>
          <td><%= subscriber.l_name %></td>
          <td><%= subscriber.email %></td>
          <td><%= subscriber.country %></td>
          <td>
            <%= link_to('Delete', subscriber_path(subscriber),
                class:'btn btn-sm btn-danger',
                method: :delete,
                data: {confirm: 'Are you certain????'}) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <p><%= link_to('Home', welcome_index_path, class: 'btn btn-sm btn-primary') %></p>
</div>
<div class="col"></div>
